<!-- image -->
<div class="row">
	<div class="col-md-12">
		<%= image_tag @room.cover_photo(nil), width: "100%" %>
	</div>
</div>
<br>

<!-- LEFT PANEL -->
<div class="col-md-8">
	<!-- listing name -->
	<div class="row">
		
	</div>
	<hr>
	
	<!-- room info -->
	<div class="row">
		
	</div>
	<hr>

	<!-- about -->
	<div class="row">
		
	</div>
	<hr>

	<!-- amenities -->	
	<div class="row">
		
	</div>
	<hr>

	<!-- carousel -->	
	<div class="row">
		
	</div>
	<hr>
</div>

<!-- RIGHT PANEL -->
<div class="col-md-4">
	<!-- reservation from -->
</div>